# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Local Netlify folder
.netlify




    <script type="text/javascript" is:inline>
      var _smartsupp = _smartsupp || {};
      _smartsupp.key = '3400d6d9802ae7139f71a54d518fba8f6aa5aed0';
      (function(d) {
        var s = d.getElementsByTagName('script')[0];
        var c = d.createElement('script');
        c.type = 'text/javascript';
        c.async = true;
        c.charset = 'utf-8';
        c.src = 'https://www.smartsuppchat.com/loader.js';
        s.parentNode.insertBefore(c, s);
      })(document);
    </script> 
    